ServerAliveInterval 60

Host github.com
  User git
  Hostname github.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/xxxxx

Host fumidai
  Hostname xxxxxx
  User xxxxxx
  IdentityFile ~/.ssh/nagayoshi3_id_rsa

Host xxxxxx
  User xxxxxx
  Hostname xxxxxxx
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/xxxx
  #ProxyCommand ssh fumidai nc %h %p

